.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f3f2e9;
}

.header {
    background-image: linear-gradient(to right, #BEEAB6, #A4D5E7, #AF81CE, #FAC9CE);
    padding: 10px;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 80px;
    height: 80px;
    margin-left: 10px;
    margin-right: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    gap: 20px;
}

h2 {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.announcementsList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border: 1px solid #AF81CE;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: calc(33% - 20px);
    max-width: 300px;
    min-width: 200px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.card:active {
    transform: translateY(0);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.headerButton {
    padding: 10px 20px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
}

.headerButton:hover {
    background-color: transparent;
    text-emphasis: bold;
    text-decoration: underline;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.headerButton:active {
    background-color: #5fa2c1;
    transform: scale(0.98);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button.ms-2 {
    margin-left: 10px;
}

@media (max-width: 768px) {
    .announcementsList {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
        max-width: none;
    }
}
