.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f3f2e9;
}

.header {
    background-image: linear-gradient(to right, #BEEAB6, #A4D5E7, #AF81CE, #FAC9CE);
    padding: 10px;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 80px;
    height: 80px;
    margin-left: 10px;
    margin-right: 10px;
}

.buttonGroup {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

button {
    padding: 10px 20px;
    background-color: #A4D5E7;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
}

button:hover {
    background-color: #7bbcd6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:active {
    background-color: #5fa2c1;
    transform: scale(0.98);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.roleButton {
    background-color: #AF81CE;
}

.roleButton:hover {
    background-color: #995fb4;
}

.selectedButton {
    background-color: #8fe660; /* Złoty kolor dla wybranego przycisku */
    color: #000; /* Czarny tekst dla kontrastu */
    border: 2px solid #3d612a; /* Dodanie obramowania */
}

.selectedButton:hover {
    background-color: #afed8d; /* Złoty kolor dla wybranego przycisku */
}

.animalsButton {
    background-color: #FAC9CE;
}

.animalsButton:hover {
    background-color: #f2a2aa;
}

.animalsButton:active {
    background-color: #d78087;
}

.profileButton {
    background-color: #BEEAB6;
}

.profileButton:hover {
    background-color: #a2d49d;
}

.profileButton:active {
    background-color: #87b782;
}

.headerButton {
    background-color: transparent;
}

.headerButton:hover {
    background-color: transparent;
    text-decoration: underline;
    text-emphasis: bold;
}

.announcementButton {
    background-color: #A4D5E7;
}

.announcementButton:hover {
    background-color: #89c0d1;
}

.announcementButton:active {
    background-color: #6ea3b4;
}

.logoutButton {
    background-color: #E6739F;
}

.logoutButton:hover {
    background-color: #cf5b89;
}

.logoutButton:active {
    background-color: #b14472;
}

.mainContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 5%;
}

.sideFilters {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 25%;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filterOption {
    display: flex;
    align-items: center;
    gap: 10px;
}

.filterOption input[type="checkbox"] {
    width: 20px;
    height: 20px;
    accent-color: #A4D5E7;
}

.ads {
    width: 75%;
}

.adsList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.adCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border: 1px solid #AF81CE;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: calc(33% - 20px);
    max-width: 300px;
    min-width: 200px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.adCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.adCard:active {
    transform: translateY(0);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    border: 2px solid #cce7f0;
    object-fit: cover;
    margin-bottom: 10px;
}

.footer {
    background-image: linear-gradient(to right, #BEEAB6, #A4D5E7, #AF81CE, #FAC9CE);
    text-align: center;
    padding: 10px;
    margin-top: auto;
}

@media (max-width: 768px) {
    .mainPage {
        flex-direction: column;
    }

    .sideFilters {
        width: 100%;
        margin-bottom: 20px;
    }

    .ads {
        width: 100%;
    }

    .adCard {
        width: 100%;
    }
}
