.page {
  font-family: 'Arial', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(to bottom, #F3D9C6 0%, #F3D9C6 60%, #FAC9CE 75%);

  margin: 0;
}

.header {
  display: flex;
  text-align: center;
  justify-content: flex-end;
  background-color: #F3D9C6;
  padding: 1%;
  padding-right: 5%;
  padding-left: 20%;
  color: white;
  font-size: 18px;
}

.homeLink {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: stretch; /* Zapewnia równą wysokość dzieci */
  flex-grow: 1;
  height: auto;
  min-height: 100%; /* Zapewnia minimum 100% wysokości rodzica */
  background-image: url('../Assets/preview (4).webp');
  background-size: auto 100%; /* Dopasowanie wysokości obrazka */
  background-repeat: no-repeat;
  background-position: right; /* Obraz wyrównany do prawej */
  padding: 0;
}

.imageContainer {
  display: flex; /* Flexbox */
  flex-direction: column; /* Układ w kolumnie */
  justify-content: center; /* Wyśrodkowanie pionowe */
  align-items: center; /* Wyśrodkowanie poziome */
  min-width: fit-content; /* Szerokość formularza */
  width: 40%;
  height: 100%; /* Wysokość taka sama jak rodzica */
  background: rgba(255, 255, 255, 0.8); /* Półprzezroczyste tło */
  border-radius: 25px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-left: 10%;
  margin-bottom: 20px;
  box-sizing: border-box; /* Uwzględnia padding w obliczeniach wysokości */
}


.formContainer {
  text-align: left;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #444;
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputGroup {
  margin-bottom: 15px;
  width: 100%;
  
}

.inputGroupRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 15px;
  width: 100%;   
}

.labelRegister {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #000;

}

.css-hlgwow {
  padding-left: 15px;
}

.inputRegister {
  width:fit-content;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;

}

.inputRegister:focus {
  border-color: #93C6F7;
}


.inputLong {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 25px;
  font-size: 16px;
  box-sizing: border-box; /* Uwzględnia padding w szerokości */
  cursor: pointer;
    padding-left: 15px;
}

.loginButton {
  width: 100%;
  padding: 15px;
  background-color: #93C6F7;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin: 10px 0;
}

.loginButton:hover {
  background-color: #FD7E94;
}

.links {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
  padding: 20px;
}

.link {
  font-size: 14px;
  color: #ff6f61;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.createAccountButton {
  margin-top: 20px;
  padding: 10px 20px;
  justify-self: center;
  max-width: 400px;
  background-color: transparent;
  border: 2px solid #ff9aa2;
  color: #ff9aa2;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.createAccountButton:hover {
  background-color: #ff9aa2;
  color: white;
}

.footer {
  text-align: center;
  padding: 10px 0;
  background-image: linear-gradient(to right, #DB73BC, #93C6F7, #9290CD);    color: white;
  font-size: 14px;
}


.roleGroup {
  margin-bottom: 15px;
}

.roleButtons {
  display: flex; /* Użycie grid layout dla precyzyjnego rozmieszczenia */
  grid-template-columns: repeat(2, 1fr); /* Dwa przyciski w jednym rzędzie */
  grid-template-rows: auto auto; /* Dwie linie */
  justify-items: center; /* Wyśrodkowanie poziome */
  gap: 10px; /* Odstęp między przyciskami */
}

.roleButton {
  padding: 15px 25px;
  border: 2px solid #ddd;
  border-radius: 50px;
  background: #fff;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  transition: all 0.3s;
}

.roleButton:nth-child(3) {
  grid-column: 1 / 3; /* Trzeci przycisk zajmuje całą szerokość (środek) */
}

.roleButton:hover {
  background-color: #f2d9c8;
  border-color: #FAC9CF;
}

.roleButton.selected {
  border-color: #93C6F7;
  background-color: #93C6F7;
  color: white;
}
